name: CodeGuru Reviewer

on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master

permissions:
  id-token: write
  contents: read
  pull-requests: write
  security-events: write

jobs:
  codeguru:
    name: CodeGuru Review
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
          aws-region: us-east-1
      
      - name: CodeGuru Reviewer
        uses: aws-actions/codeguru-reviewer@v1.1
        with:
          build_path: .
          s3_bucket: terraform-state-925185632967
      
      - name: Upload SARIF
        if: always()
        uses: github/codeql-action/upload-sarif@v3
        with:
          sarif_file: codeguru-results.sarif.json
